.header-div{
    height: 400px;
    width: 100%;
    text-align:center;
    background-color: #ffa07a;
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");    
}

.img{
    position:relative;
    padding-top:2px;
    z-index:1;
    
    
}

header div h2{
    margin-top: -0.5em;
}