nav {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color:#4056A1;
    top:0;
    z-index: 10;
    display:flex;
    justify-content:space-between;
    

}

.column-flex {
    display:flex;
    flex-direction:column;
}
.tweeter-logo{
    font-family: 'Bungee', sans-serif;
    color: #FFFFFF;
    margin: 2.5vw;
    font-size: 1.5em;
}
/* .toggle-tweet{
   
    color:white;
} */
.nav-text {
   margin:2.5vw;
   margin-bottom:0.5vw;
   color:white;
   position:relative;
}
.down-arrow {
    background:transparent;
    border: 0;
    color:lightsalmon;
   
}
.down-arrow:hover {
    animation: bounce 1s infinite alternate;
}
/* 90left bottom 1 */
#corner-button {
    position: fixed;
    left: 80vw; 
    bottom: 1vw; 
    border-radius: 100%;
    border:0;
    height: 70px;
    width: 70px;
    background-color: red;
    color: white;
    margin: 1em;
    display: none;
  }

#corner-button:hover {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform:translateY(0px);
    } 
    to {
        transform:translateY(-10px);
        }
}

/* DESKTOP */
@media only screen and (min-width:1024px) {
    
}
/* TABLET */
@media only screen and (min-width:750px) {

}

/* MOBILE */
@media only screen and (max-width:415px) {
    nav {
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
    position:unset;
    background-color:lightsalmon;
     
    }
    .tweeter-logo {
        font-size: 1em;
    }
    .nav-text {
        font-size:0.6em;
    }
    .down-arrow {
        top:10vw;
        right:18vw;
        color:white;
    }
    #corner-button {
        left:70vw;
        bottom:1vw;

    }

}