.new-tweet {
    display:none;
    margin-top:2rem;
}

main textarea{
    outline: 0;
    border: 0;
    border-bottom: 2px solid #545149;
    color : #545149;
    background-color:#f4f1ec;
    width: 100%;
    font-weight:600;
    height:1.75em;

}

.counter {
    font-family: Bungee;
}
/*tweet button*/
main input {
    color: white;
    background-color:#4056A1;
    font-family: Bungee;
    border:0;
    outline: 0;
    margin-top:0.25em;

}
/*the error box after invalid tweet attempt*/
#error {
    border:solid 2px red;
    margin-top:1em;
    margin-bottom:2em;
    padding:0.5em;
    color:red;
    display:none;
}
.fa-exclamation-triangle {
    color:red;
}