.tweet {
    border: 2px solid #545149;
    margin-top: 3em;
}
/* Top left and right elements of the tweet */
.name {
    padding-top:0.5em;
    padding-left: 0.5em;
}
.user-name    {
    padding-top:0.5em;
    padding-right:0.5em;
    color:lightsalmon
}
/*username flexbox*/
.username-flex {
    display:flex;
    justify-content:space-between;
}
.footer-flex {
    display:flex;
    justify-content:space-between;
    margin:0;
}

/* Hover on tweet effects and size of user icon */

.hidden {
    visibility:hidden;
}
.tweet:hover .hidden{
    visibility:visible;
}
.tweet:hover {
    box-shadow: 10px 10px 20px lightsalmon;
}
/*position & size user*/
 .usericon {
    height: 1.5em;
    width: 1.5em;
    float:left;
} 

/*social media icons*/
.social-wrapper{
    display:flex;
    flex-direction:row;
}
.social-wrapper i{
    margin:0.5vw;
}
/* the written text in the tweet */
.tweet-text{
    overflow:auto;
    display:block;
    font-weight:600;
    height:3rem;
    margin-top:2.5rem;
    margin-left:2%;
    text-align:left;
    width: 96%;
    border-bottom:2px solid #545149;
}
/* The "date created" */
article footer div{
    text-align: left;
    margin: 1rem;
    font-size: 12px;

}
