/* the individual tweet containers */
.tweet {
    border: 5px solid #545149;
    margin-top: 3em;
    background-color:white;
}
/* name&username in the tweet */
.name {
    padding-top:0.5em;
    padding-left: 0.5em;
}

.user-name    {
    padding-top:0.5em;
    padding-right:0.5em;
    color:lightsalmon
}

.flex {
    display:flex;
    justify-content:space-between;
    margin:0;
}   

/* Hover on tweet effects and size of user icon */
.hidden {
    visibility:hidden;
}
.tweet:hover .hidden{
    visibility:visible;
}
.tweet:hover {
box-shadow: 10px 10px 20px lightsalmon;
}

/*position & size user*/
 .usericon {
    height: 1.5em;
    width: 1.5em;
     float:left; 
} 

/*social media icons*/
.social-wrapper{
    display:flex;
    flex-direction:row;
}
.social-wrapper i{
    margin:0.5vw;
}
/* the written text in the tweet */
.tweet-text{
    overflow:auto;
    display:block;
    font-weight:600;
    height:3rem;
    margin-top:2.5rem;
    margin-left:2%;
    text-align:left;
    width: 96%;
    border-bottom:5px solid #545149;
}
/* The "date created" */
article footer div{
    text-align: left;
    margin: 1rem;
    font-size: 12px;

}


/* DESKTOP */
@media only screen and (min-width:1024px) {
    .text-view {
        width:59vw;
    }
    
}
/* MOBILE */
@media only screen and (max-width:500px) {
    .tweet-text {
        margin-top:20px;
    }
    .name {
        font-size:0.7em;
    }
    .user-name {
        font-size: 0.7em;
    }
}
